<app-header-admin></app-header-admin>

<div class="d-flex align-items-stretch">
  <div id="sidebar" class="sidebar py-3">
    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN</div>
  <ul class="sidebar-menu list-unstyled">
      <li class="sidebar-list-item"><a routerLink="/listUser"  class="sidebar-link text-muted "><i class="o-home-1 mr-3 text-gray"></i><span>Home</span></a></li>
      <li class="sidebar-list-item"><a routerLink="/changeRole"  class="sidebar-link text-muted"><i class="o-sales-up-1 mr-3 text-gray"></i><span>Change Role</span></a></li>
    
      <li class="sidebar-list-item"><a  routerLink="/auth/signin" class="sidebar-link text-muted"><i class="o-exit-1 mr-3 text-gray"></i><span>Login</span></a></li>
    </ul>

  </div>
  <div class="page-holder w-100 d-flex flex-wrap">
    <div class="container-fluid px-xl-5">
      <section class="py-3">
     
      </section>
    </div>



  


    <div class="col-lg-12 mb-5">
        <div class="card">
          <div class="card-header">
            <h3 class="h6 text-uppercase mb-0">Add User</h3>
          </div>
          <div class="card-body">
    
    
              <form id="signupForm"  [formGroup]="signupForm"  (ngSubmit)="onSubmit()" class="mt-4">



                  <div class="form-group mb-4">
                    <input type="text" name="Name" placeholder="Name" formControlName="Name" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" class="form-control border-0 shadow form-control-lg text-violet">
                    <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                      <div *ngIf="f.Name.errors.required">Name is required</div>
                    </div>
                  </div>
              <div class="form-group mb-4">
                <input type="text" name="Username" placeholder="Username" formControlName="Username" [ngClass]="{ 'is-invalid': submitted && f.Username.errors  }"class="form-control border-0 shadow form-control-lg text-violet">
                <div *ngIf="submitted && f.Username.errors" class="invalid-feedback">
                  <div *ngIf="f.Username.errors.required">Username is required</div>
                </div>
              </div>



              <div class="form-group mb-4">
                <input type="text" name="Email" placeholder="Email" formControlName="Email" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }"class="form-control border-0 shadow form-control-lg">
                <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                  <div *ngIf="f.Email.errors.required && f.Email.errors.email">Email is required</div>
                </div>
              </div>
              <div class="form-group mb-4">
                <input type="password" name="Passowrd" placeholder="Password" formControlName="Password" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }"class="form-control border-0 shadow form-control-lg text-violet">
                <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                  <div *ngIf="f.Password.errors.required  ">Password is required</div>
                </div>
              </div>
              <div class="form-group mb-4">
                <input type="file" name="file" placeholder="file" formControlName="file" (change)="selectFile($event)" class="form-control border-0 shadow form-control-lg text-violet">
              </div>

              <button [disabled]="loading" type="submit" class="btn btn-primary">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="reset" class="btn btn-secondary">Cancel</button>     
                   </form>
    
       </div>
        </div>
      </div>



    <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 text-center text-md-left text-primary">
            <p class="mb-2 mb-md-0">Your company &copy; 2018-2020</p>
          </div>
          <div class="col-md-6 text-center text-md-right text-gray-400">
            <p class="mb-0">Design by <a href="https://bootstrapious.com/admin-templates" class="external text-gray-400">Bootstrapious</a></p>
            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
          </div>
        </div>
      </div>
    </footer>
  </div>

</div>
