<app-header-admin></app-header-admin>




<div class="d-flex align-items-stretch">
  <div id="sidebar" class="sidebar py-3">
    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN</div>
    <ul class="sidebar-menu list-unstyled">
        <li class="sidebar-list-item"><a routerLink="/listUser"  class="sidebar-link text-muted"><i class="o-home-1 mr-3 text-gray"></i><span>Home</span></a></li>
        <li class="sidebar-list-item"><a routerLink="/changeRole"  class="sidebar-link text-muted"><i class="o-sales-up-1 mr-3 text-gray"></i><span>Change Role</span></a></li>
      
        <li class="sidebar-list-item"><a  routerLink="/auth/signin" class="sidebar-link text-muted"><i class="o-exit-1 mr-3 text-gray"></i><span>Login</span></a></li>
      </ul>

  </div>
  <div class="page-holder w-100 d-flex flex-wrap">
    <div class="container-fluid px-xl-5">
      <section class="py-3">
        
       
      </section>
    </div>



    <!--table -->

    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">All Users </h4>
          <p class="card-description">
           
          </p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>
                  User name
                </th>
                <th>
                  User email
                </th>
                <th>
                  user avatar
                </th>
                <th>
                  Change Role
                </th>
                
              </tr>
              </thead>
              <tbody>
              <tr  *ngFor="let user of users| paginate: { id: 'listing_pagination',
              itemsPerPage: 3,
              currentPage: page,
              totalItems: totalRec }">
                <td class="py-1">
                  {{user.name}}
                </td>
                {{user.email}}
                <td>
                  <img  src="http://localhost:1111/api/auth/photoUser/{{user.id}}" width="50px" height="50px">
                </td>


                <td>
                  <button *ngIf="user.roles[0].id===1" (click)=ChangeRoleUser(user.id) type="button" class="btn btn-primary">UserToAdmin</button>
                  <button  *ngIf="user.roles[0].id===2" (click)=ChangeRoleUser(user.id) type="button" class="btn btn-primary">AdminToUser</button>

                </td>
               
              </tr>
              </tbody>
            </table>
            <div>
              <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event" class="text-md-right"></pagination-controls>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!--fin table-->




    <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 text-center text-md-left text-primary">
            <p class="mb-2 mb-md-0">Your company &copy; 2018-2020</p>
          </div>
          <div class="col-md-6 text-center text-md-right text-gray-400">
            <p class="mb-0">Design by <a href="https://bootstrapious.com/admin-templates" class="external text-gray-400">Bootstrapious</a></p>
            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
          </div>
        </div>
      </div>
    </footer>
  </div>

</div>
