<div class="modal-content">
    <div class="modal-header">
      <h4 id="exampleModalLabel" class="modal-title">Change Role</h4>
      <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true" (click)="onClose()">×</span></button>
    </div>
    <div class="modal-body">
    <p>Are you ready to change Role?</p>
    <input type="hidden" [(ngModel)]="idUser">
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary"(click)="ChangeRole(idUser)">ChangeRole</button>
      <button type="button" data-dismiss="modal" class="btn btn-secondary" (click)="onClose()">Close</button>
    </div>
  </div>